<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GroupName</key>
	<string>wheel</string>
	<key>InitGroups</key>
	<true/>
	<key>KeepAlive</key>
	<dict/>
	<key>Label</key>
	<string>local.dashmonitor</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/bin/node</string>
		<string>/Users/smiths/dashmonitor/dashmonitor.js</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>/var/log/dashmonitor.err</string>
	<key>StandardOutPath</key>
	<string>/var/log/dashmonitor.log</string>
	<key>UserName</key>
	<string>root</string>
</dict>
</plist>
