[Unit]
Description=dashbutton monitor

[Service]
WorkingDirectory=/home/pi/dashmonitor
ExecStart=/usr/bin/npm start
Restart=always
RestartSec=10                       # Restart service after 10 seconds if node service crashes
StandardOutput=syslog               # Output to syslog
StandardError=syslog                # Output to syslog
SyslogIdentifier=dashbutton

[Install]
WantedBy=multi-user.target
